<nav class="nav">
    <div class="nav__info">
        <span class="nav__info_menu material-icons" (click)="toggleSidebar()">menu</span>
        <div class="nav__info_logo"></div>
    </div>

    <div class="nav__action">
        <div class="nav__action_notification">
            <span class="material-icons nav__action_notification-icon">
                notifications
            </span>
            <div class="nav__action_notification_badge"></div>
        </div>

        <div class="nav__action_profile">
            <span class="material-icons nav__action_profile-icon">account_circle</span>
            <div class="nav__action_profile_info">
                <div class="nav__action_profile_info_title">Head Office</div>
                <div class="nav__action_profile_info_subtitle">
                    <span class="nav__action_profile_info_subtitle_text">Raman Bajaj</span>
                    <span class="material-icons nav__action_profile_info_subtitle-icon">
                        expand_more
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>