<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="main_panel" id="main_panel">
    <div class="main_content">
        <div class="data_container">
            <div class="data_container_header">
                <div class="data_container_header_title">Chart</div>

                <div class="data_container_header_action">
                    <div class="data_container_header_action_dropdown">
                        <span
                            class="material-icons data_container_header_action_dropdown-pre_icon">calendar_today</span>
                        <span class="data_container_header_action_dropdown_text">2022-23</span>
                        <span class="material-icons data_container_header_action_dropdown-post_icon">
                            chevron_right
                        </span>
                    </div>

                    <div class="data_container_header_action_download">
                        <span class="material-icons data_container_header_action_download-icon">file_download</span>
                    </div>
                </div>
            </div>

            <div class="data_container__filter">
                <div class="data_container__filter_item">
                    <mat-form-field appearance="outline" class="data_container__filter_item_input">
                        <mat-label>Type</mat-label>
                        <mat-select>
                            <mat-option value="rpc">RPC</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="data_container__filter_item">
                    <mat-form-field appearance="outline" class="data_container__filter_item_input">
                        <mat-label>Zone</mat-label>
                        <mat-select>
                            <mat-option value="east">East</mat-option>
                            <mat-option value="west">West</mat-option>
                            <mat-option value="north">North</mat-option>
                            <mat-option value="south">South</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="data_container__filter_item">
                    <mat-form-field appearance="outline" class="data_container__filter_item_input">
                        <mat-label>Region</mat-label>
                        <mat-select>
                            <mat-option value="mumbai">MUM</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="data_container__filter_item">
                    <mat-form-field appearance="outline" class="data_container__filter_item_input">
                        <mat-label>Team Type</mat-label>
                        <mat-select>
                            <mat-option value="marketing">Marketing</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="data_container__filter_item">
                    <mat-form-field appearance="outline" class="data_container__filter_item_input">
                        <mat-label>Person Name</mat-label>
                        <mat-select>
                            <mat-option value="priya">Piya Mukherjee</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="data_container__filter_item">
                    <mat-form-field appearance="outline" class="data_container__filter_item_input">
                        <mat-label>Center Type</mat-label>
                        <mat-select>
                            <mat-option value="warrior">Warrior</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="data_container__filter_item">
                    <mat-form-field appearance="outline" class="data_container__filter_item_input">
                        <mat-label>Center Name</mat-label>
                        <mat-select>
                            <mat-option value="malad">Malad - Mumbai</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="chart__container" style="position: relative; width:100%">
                <div class="chart__container_title">Average RPC</div>
                <canvas id="MyChart">{{ chart }}</canvas>
            </div>

            <div class="table__container">
                <table class="data__table table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <div class="data__table_header">
                                    <span class="data__table_header_text">Name</span>
                                    <span class="material-icons data__table_header-icon">unfold_more</span>
                                </div>
                            </th>
                            <th>
                                <div class="data__table_header">
                                    <span class="data__table_header_text">Zone</span>
                                    <span class="material-icons data__table_header-icon">unfold_more</span>
                                </div>
                            </th>
                            <th>
                                <div class="data__table_header">
                                    <span class="data__table_header_text">Region</span>
                                    <span class="material-icons data__table_header-icon">unfold_more</span>
                                </div>
                            </th>
                            <th>
                                <div class="data__table_header">
                                    <span class="data__table_header_text">Team Type</span>
                                    <span class="material-icons data__table_header-icon">unfold_more</span>
                                </div>
                            </th>
                            <th>
                                <div class="data__table_header">
                                    <span class="data__table_header_text">Month</span>
                                    <span class="material-icons data__table_header-icon">unfold_more</span>
                                </div>
                            </th>
                            <th>
                                <div class="data__table_header">
                                    <span class="data__table_header_text">Royalty + SK</span>
                                    <span class="material-icons data__table_header-icon">unfold_more</span>
                                </div>
                            </th>
                            <th>
                                <div class="data__table_header">
                                    <span class="data__table_header_text">Enrolments</span>
                                    <span class="material-icons data__table_header-icon">unfold_more</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="data__table_text">Piya Mukherjee</span>
                            </td>
                            <td>
                                <span class="data__table_text">West</span>
                            </td>
                            <td>
                                <span class="data__table_text">MUM</span>
                            </td>
                            <td>
                                <span class="data__table_text">Marketing</span>
                            </td>
                            <td>
                                <span class="data__table_text">Jan</span>
                            </td>
                            <td>
                                <span class="data__table_text">41,65,5078</span>
                            </td>
                            <td>
                                <span class="data__table_text">3,461</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="data__table_text">Piya Mukherjee</span>
                            </td>
                            <td>
                                <span class="data__table_text">West</span>
                            </td>
                            <td>
                                <span class="data__table_text">MUM</span>
                            </td>
                            <td>
                                <span class="data__table_text">Marketing</span>
                            </td>
                            <td>
                                <span class="data__table_text">Jan</span>
                            </td>
                            <td>
                                <span class="data__table_text">41,65,5078</span>
                            </td>
                            <td>
                                <span class="data__table_text">3,461</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="data__table_text">Piya Mukherjee</span>
                            </td>
                            <td>
                                <span class="data__table_text">West</span>
                            </td>
                            <td>
                                <span class="data__table_text">MUM</span>
                            </td>
                            <td>
                                <span class="data__table_text">Marketing</span>
                            </td>
                            <td>
                                <span class="data__table_text">Jan</span>
                            </td>
                            <td>
                                <span class="data__table_text">41,65,5078</span>
                            </td>
                            <td>
                                <span class="data__table_text">3,461</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="data__table_text">Piya Mukherjee</span>
                            </td>
                            <td>
                                <span class="data__table_text">West</span>
                            </td>
                            <td>
                                <span class="data__table_text">MUM</span>
                            </td>
                            <td>
                                <span class="data__table_text">Marketing</span>
                            </td>
                            <td>
                                <span class="data__table_text">Jan</span>
                            </td>
                            <td>
                                <span class="data__table_text">41,65,5078</span>
                            </td>
                            <td>
                                <span class="data__table_text">3,461</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="data__table_text">Piya Mukherjee</span>
                            </td>
                            <td>
                                <span class="data__table_text">West</span>
                            </td>
                            <td>
                                <span class="data__table_text">MUM</span>
                            </td>
                            <td>
                                <span class="data__table_text">Marketing</span>
                            </td>
                            <td>
                                <span class="data__table_text">Jan</span>
                            </td>
                            <td>
                                <span class="data__table_text">41,65,5078</span>
                            </td>
                            <td>
                                <span class="data__table_text">3,461</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table__footer">
                <div class="table__footer_select">
                    <mat-form-field appearance="outline" style="width: 100px;">
                        <mat-select [(value)]="selected">
                            <ng-container *ngFor="let count of [1,2,3,4,5,6,7,8,9,10]">
                                <mat-option [value]="count">{{count}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <div>Row Count</div>
                </div>

                <div class="table__footer_pagination">
                    <div class="table__footer_pagination_icons">
                        <span class="material-icons">chevron_left</span>
                    </div>
                    <ul class="table__footer_pagination_count_list">
                        <li class="table__footer_pagination_count_list_item">1</li>
                        <li class="table__footer_pagination_count_list_item">2</li>
                        <li class="table__footer_pagination_count_list_item">3</li>
                        <li class="table__footer_pagination_count_list_item">4</li>
                        <li class="table__footer_pagination_count_list_item">5</li>
                    </ul>
                    <div class="table__footer_pagination_icons">
                        <span class="material-icons">chevron_right</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
<router-outlet></router-outlet>